*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background: rgb(0, 162, 255);
}

.videoContainer {
    display: flex;
    flex-direction: column;
    overflow: auto;
    scrollbar-width: none;
}
.container {
    display: flex;
    position: relative;
    justify-content: center;
}

.videoPlayer {
    display: flex;
    position: relative;
    width: 848px;
    height: 478px;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.fulscreenCustom {
    width: 100%;
    height:100vh;
    border-radius: 0px;
}
.videoPlayer::before {
    content: "";
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, .75), transparent);
    width: 100%;
    aspect-ratio: 6 / 1;
    z-index: 1;
    pointer-events: none;
    opacity: 1;
    transition: opacity 150ms ease-in-out;
}

#mainVideo {
    display: flex;
    margin: auto;
    position: relative;
    width: auto;
    height: 100%;
    outline: none;
    border-radius: 0px;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
}

.mainVideoClickF {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 7;
}

/*popupElementContainer*/
.popupElementContainer {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
}
.popupElement {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}
.speedArrow p {
    font-size: 30px; letter-spacing: -14px; line-height: 0.8;
}
.blockLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    background: none;
}
.rewindNotif {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.500);
    border-radius: 20px;
    width: 90px;
    height: 50px;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
.arrowLOne {
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
.arrowLTwo {
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
.arrowLThree {
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.blockMiddle {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 30%;
    background: none;
}
.twoTimeSpeedNotif {
    margin-top: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.500);
    border-radius: 20px;
    width: 80px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.blockRight {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    background: none;
}
.forwardNotif {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.500);
    border-radius: 20px;
    width: 90px;
    height: 50px;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
.arrowROne {
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
.arrowRTwo {
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
.arrowRThree {
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

/*Mobile*/
.controllersMobile {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 8;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
.listMobileControllers {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}
.blockRewind {
    content: '';
    height: 100%;
    width: 50%;
    background: none;
}
.blockCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
    background: none;
}
.blockForward {
    content: '';
    height: 100%;
    width: 50%;
    background: none;
}

.iconMobile {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    padding-left: 20px;
    padding-right: 20px;
}
.iconMobile button {
    display: flex;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.368);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.iconMobile img {
    display: flex;
    margin: auto;
    filter: invert(100%);
    width: 30px;
}

.controllers {
    position: absolute;
    bottom: -50px;
    left: 0;
    padding-top: 11px;
    height: 50px;
    width: 100%;
    z-index: 9;
    transition: 150ms ease-in-out;
}
.controllers.active {
    bottom: 0px;
}

/*progressContainer start*/
.progressContainer {
    width: 100%;
    position: absolute;
    z-index: 10;
    top: -10%;
    transform: translateY(10%);
}

/*MainProgresInput*/
#MainProgresInput {
    display: flex;
    position:absolute;
    margin: auto;
    width: 100%;
    height: 15px;
}
#rangeProgress {
    -webkit-appearance: none;
    appearance: none;
    margin: auto;
    width: 99%;
    background: transparent;
    cursor: pointer;
    border: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#rangeProgress::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background: rgb(255, 0, 0);
    box-shadow: 0px 0px 0px 2px red;
    border-radius: 50%;
    scale: 1;
    transition: 150ms all;
}
/*MainProgresBuffer*/
.progressBarBufBg {
    position: relative;
    margin: auto;
    width: 98%;
    height: 4px;
    background: #f0f0f063;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
}
.progressBuffer {
    position: absolute;
    width: 100%;
    height: 4px;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
}
/*MainProgresShadow*/
.progressShadow {
    position: relative;
    width: 0%;
    height: 4px;
    background: red;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
}
/*progressContainer finnish*/

.leftControllers .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-left: 4px;
    margin-right: 4px;
    user-select: none;
    -webkit-user-select: none;
    transition: 2s;
}
.rightControllers .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-left: 7px;
    margin-right: 7px;
    user-select: none;
    -webkit-user-select: none;
    transition: 2s;
}
.controllers .icon img {
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    cursor: pointer;
    width: 20px;
    filter: invert(100%);
}

.icon button {
    border: none;
    background: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.controllers .listControllers {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 98%;
    z-index: 100;
}
.controllers .listControllers .leftControllers,
.controllers .listControllers .rightControllers {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*RewindForward*/
#fastRewind:active #fastRewindIcon {
    transition: 0.2s;
    transform: rotate(-45deg);
}
#fastForward:active #fastForwardIcon {
    transition: 0.2s;
    transform: rotate(45deg);
}

/*volumeRange*/
#volumeBtnIcon {
    width: 21px;
}
#volumeRange {
    -webkit-appearance: none;
    appearance: none;
    margin: auto;
    width: 0%;
    overflow: visible;
    height: 3px;
    width: 0px;
    opacity: 1;
    transition: 0.4s;
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#volumeRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    opacity: 0;
    transition: 150ms;
}
#volumeRange::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
    transition: 200ms;
}
.icon:hover #volumeRange,
#volumeRange:focus-within{
    display: block;
    width: 60px;
}
.icon:hover #volumeRange::-webkit-slider-thumb,
#volumeRange:focus-within::-webkit-slider-thumb {
    opacity: 1;
}
.icon:hover #volumeRange::-moz-range-thumb,
#volumeRange:focus-within::-moz-range-thumb {
    opacity: 1;
    scale: 1;
}

.icon .auto-play {
    width: 30px;
    height: 10px;
    border-radius: 20px;
    position: relative;
    margin-right: 8px !important;
    background: #b6b6b6;
  }
  .icon .auto-play:focus {
    outline-offset: 10px;
  }
.icon .auto-play::before {
    content: '\e034';
    font-family: "material symbols outlined";
    width: 17px;
    height: 17px;
    font-size: 14px;
    background: #727272;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    font-style: normal;
    filter: invert(0%);
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
}
.icon .auto-play.active::before {
    content: "\e037";
    font-family: "material symbols outlined";
    filter: invert(100%);
    left: 15px;
    background: #000000;
  }

/*timer*/
.timer {
    position: relative;
    display: inline-block;
    font-size: 14px;
    white-space: nowrap;
    color: white;
    margin-left: 5px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
}

/*setting*/
#setting:active #settingIcon {
    transition: 0.2s;
    transform: rotate(45deg);
}

#pictureInPicture {
    width: 28px;
}



.settingsContainer {
    display: none;
    position: absolute;
    right: 25px;
    bottom: 62px;
    width: 300px;
    height: 230px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(28 28 28 /90%);
    border-radius: 10px;
    z-index: 11;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: 150ms;
}
.scOpen {
    display: flex;
}
.scQualityWHa {
    width: 250px;
    height: 250px;
}
.scPlaybackWHa {
    width: 240px;
    height: 250px;
}
.scPlaybackRangeWHa {
    width: 240px;
    height: 130px;
}
/*mainSettings*/
.mainSettings {
    visibility: visible;
    display: block;
    opacity: 1;
    position: relative;
    width: 300px;
    height: 280px;
}
.settingList {
    visibility: visible;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0%;
    transition: 150ms ease-in-out;
    padding: 5px;
}
.setButToLeft {
    visibility: hidden;
    right: 100%;
}

.settingList li {
    display: flex;
    margin: auto;
    position: relative;
    cursor: pointer;
    justify-content: center;
    width: 100%;
    align-items: center;
    font-size: 14px;
    padding: 12px;
    font-size: 14px;
}
.settingList li:hover {
    background: rgba(255, 0, 0, 0.9);
    border: 2px rgba(21, 21, 21, 0.9);
    transition: 150ms all;
}
.settingsTextContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.settingsTextContainer .sBtnL {
    left: 0;
    justify-content: left;
    text-align: left;
}
.settingsTextContainer .sBtnR {
    justify-content: end;
    right: 0;
    text-align: end;
}
#settingsIconL {
    display: flex;
    width: 20px;
    filter: invert(100%);
    margin-right: 12px;
}
#settingsIconR {
    display: flex;
    width: 10px;
    filter: invert(100%);
    margin-left: 5px;
}

#volumeRange:focus {
    outline-offset: 5px;
}

/*qualityList*/
.qualityList {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 250px;
    overflow: auto;
    right: -100%;
    transition: 150ms ease-in-out;
}
.qualityListOpen {
    visibility: visible;
    right: 0%;
}
.qualityList span {
    display: flex;
    position: relative;
    border: 1px solid rgb(83, 83, 83);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    font-size: 14px;
    font-weight: 300px;
    text-align: center;
    padding: 15px 0px;
}
.qualityList span img {
    filter: invert(100%);
    width: 13px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}
.qualityList span img:focus {
    outline-offset: 3px;
}
.qualityList ul {
    position: relative;
    padding: 5px;
}
.qualityList li {
    position: relative;
    width: 100%;
    height: 40px;
    font-size: 14px;
    padding: 12px 33px;
    cursor: pointer;
}
.qualityList li.active::before {
    content: '\e876';
    font-family: "material symbols outlined";
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 10px;
    font-size: 18px;
}
.qualityList li:hover {
    background: rgba(255, 0, 0, 0.9);
    border: 2px rgba(21, 21, 21, 0.9);
    transition: 150ms all;
}
/*playbackSpeed*/
.playbackList {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 250px;
    overflow: auto;
    right: -100%;
    transition: 150ms ease-in-out;
}
.playListOpen {
    visibility: visible;
    right: 0%;
}
.playListToLeft {
    visibility: hidden;
    right: 100%;
}
.playbackList ul {
    display: flex;
    position: relative;
    border: 1px solid rgb(83, 83, 83);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    padding: 15px 0px;
}
.playbackList span {
    display: block;
    font-size: 14px;
    font-weight: 300px;
    text-align: center;
}
.playbackList ul img {
    filter: invert(100%);
    width: 13px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}
.playbackList ul img:focus {
    outline-offset: 3px;
}
#customLinkRangePlayback {
    right: 5px;
    margin-left: 20px;
    cursor: pointer; 
    text-decoration: underline;
}
#customLinkRangePlayback:focus {
    outline-offset: 3px;
}

.playbackBtnList {
    padding: 5px;
}
.playbackList li {
    position: relative;
    width: 100%;
    height: 40px;
    font-size: 14px;
    padding: 12px 33px;
    cursor: pointer;
}
.playbackList li.active::before {
    content: '\e876';
    font-family: "material symbols outlined";
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 10px;
    font-size: 18px;
}
.playbackList li:hover {
    background: rgba(255, 0, 0, 0.9);
    border: 2px rgba(21, 21, 21, 0.9);
    transition: 150ms all;
}
#customPlaybackStatus {
    display: none;
}

.customRangePlayback {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    right: -100%;
    transition: 150ms ease-in-out;
}
.cusRangePlaybackOpen {
    visibility: visible;
    right: 0;
}
#rangeCustomPlayback {
    display: flex;
    position: relative;
    margin: auto;
    width: 80%;
    margin-bottom: 12px;
    accent-color: rgb(196, 196, 196);
    cursor: pointer;
}

.customRangePlayback ul {
    display: flex;
    position: relative;
    border: 1px solid rgb(83, 83, 83);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    padding: 15px 0px;
}
.customRangePlayback span {
    display: block;
    font-size: 14px;
    font-weight: 300px;
    text-align: center;
}
.customRangePlayback ul img {
    filter: invert(100%);
    width: 13px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}
.customRangePlayback ul img:focus {
    outline-offset: 3px;
}
#PlaybackRangeValue {
    padding: 14px;
    text-align: center;
    font-size: 14px;
}

@media (max-width: 1024px) {
    .videoPlayer {
        display: flex;
        position: fixed;
        width: 100%;
        height: auto;
        border-radius: 0px;
        background-color: rgb(0, 0, 0);
        overflow: hidden;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    /*MainProgresBuffer*/
    .progressBarBufBg {
        height: 2px;
    }
    .progressBuffer {
        height: 2px;
    }
    /*MainProgresShadow*/
    .progressShadow {
        height: 2px;
    }
    /*progressContainer finnish*/

    .fulscreenMobileCustom {
        width: 100%;
        height:100vh;
    }
    #mainVideo {
        display: flex;
        margin: auto;
        position: relative;
        width: 100%;
        height: 100%;
        outline: none;
        border-radius: 0px;
        pointer-events: none;
        user-select: none;
        -webkit-user-select: none;
    }

    .controllers .icon img {
        width: 15px;
    }

    #volumeRange {
        display: none;
    }
    .controllersMobile {
        display: block;
    }
    #fastRewind {
        display: none;
    }
    #fastForward {
        display: none;
    }
    #playPause {
        display: none;
    }
    #volumeBtn {
        display: none;
    }
    #pictureInPicture {
        display: none;
    }
    .timer {
        position: absolute;
        left: 8px;
        font-size: 12px;
    }


    .auto-play {
        display: none;
    }

    #captiom {
        display: none;
    }

    #setting {
        display: none;
    }




}
